* {
    padding: 0;
    margin: 0;
}   

body {
    background-color: rgb(56, 58, 89);
    color: white;
}

.hero {
    background-image: url(../images/coins.jpg);
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-color: gold;
    border-left: none;
    border-right: none;
    height: 50vh;
    width: 100%;
}

.container-fluid {
    font-size: 25px;
}

h3 {
    padding-right: 32rem;
    color: white;
    font-weight: bold;
    font-style: italic;
}

.navbar {
    color: rgb(56, 58, 89);
    background-color: rgb(56, 58, 89);
    ;
    text-decoration: none;
    font-weight: bold;
    justify-content: space-evenly;
    margin-bottom: 15px;
    border-bottom: solid;
    border-color: gold;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 50px;
    padding-left: 0.5rem;
}

.nav-link {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-link:hover {
    color: gold;
}

.nav-item {
    color: rgb(56, 58, 89);
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.search-btn {
    color: white;
    background-color: rgb(56, 58, 89);
    border-color: white;
    margin-right: 20px;
}

.search-btn:hover {
    color: gold;

}

.search-btn:active {
    background-color: rgb(56, 58, 89);
    box-shadow: 0 5px white;
    transform: translateY(4px);
}

#convert-widget {
    background-color: rgb(56, 58, 89);
    text-align: center;
}

#convert-link {
    text-decoration: none;
    font-style: italic;
    color: white;
    font-size: 20px;;
}

span {
    color: gold;
}

.form-control {
    font-style: italic;
}

.results-container {
    border-style: solid;
}

h4 {
    text-align: center;
}